@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html,body{
  margin: 0;
  height: 100vh;
  font-family: 'Raleway';
  background-image: url('form bg.png');
  background-size: cover;
}
.formContainer{
  position: relative;
  top: 15%;
  margin-right: 28%;
  margin-left: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff0000 16%, #ffff66 99%);
  border-radius: 5px;
}
label{
  font-weight: bolder;
}
p{
  padding-bottom: 20px;
  font-size: 50px;

  font-weight: 1000;
  letter-spacing: -4px;
}
.formdiv{
  position: relative;
  top: -40px;
  font-size: 20px;
  border-top: 5px solid black;
  width: 90%;
  padding-top: 20px;

}
input{
  border-style: none;
  height: 35px;
  width: 100%;
  border-radius: 2px;

}
::placeholder{
  padding-left: 10px;
}
.button{
  padding: 20px 90px;
  border-style: none;
  border-radius: 4px;
  font-size: 20px;
  font-style: italic;
}
.btnClass{
  display: flex;
  justify-content: space-between;
}
span{
  position: relative;
  top: -33px;
  left: 30px;
}
.btn1{
  background: linear-gradient(to bottom right, #0066ff 22%, #000066 78%);
  color: white;
}
.btn2{
  background: linear-gradient(to top left, #ff0000 22%, #ff6666 78%);
  color: white;
}
.loginForm.success input{
  border-color: green;
}
.loginForm.error input {
  border-color: red;
}
.loginForm input:focus{
  border-color: grey;
}
