@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html,body {
  margin: 0;
  height: 100vh;
}
.frontDiv{
  /* background-image: url('bg2.jpg'); */
  height: 100vh;
  /* background-attachment: fixed;
  background-size: cover; */
  margin: 0;
}
.headerBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightElement{
  display: flex;
  flex-direction: row;
}
nav.rightElement a{
  color: black;
  text-decoration: none;
  /* padding: 30px 10px 0 20px; */
  font-size: 25px;
  font-family: 'Encode Sans SC';
  font-weight: bold;
}
.leftElement{
  padding: 10px 0 0 30px;
  font-size: 50px;
  font-family: 'Encode Sans SC';
  font-weight: bolder;
}
nav.rightElement a:Hover{
  color: green;
}
.mainHead{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 36%;
  left: 32%;
  color: white;
  font-family: 'Fjalla One';
}

div.mainHead p {
  margin-bottom: -30px;
}
#first
{
  font-size: 35px;
  margin-bottom: -60px;
}
#second{
  font-size: 60px;
  margin-bottom: -20px;
}
#third{
  font-size: 25px;
}
.input-cursor
{
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: white;
  margin-left: 0px;
  animation: blink 0.5s linear infinite alternate;
}
@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}
.applySticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.stickyScrolled{
  position: fixed;
  top: 0;
  background-color: #00e600;
}

.lio{
  color: green;
}
.lio1
{
  color: black;
}
.aboutImage{
  height: 400px;
  width: 600px;
  top: 50px;
  left: 10%;
}

.aboutMatter,.skillMatter{
  display: grid;
  grid-template-columns: 50% 50%;
}
div.aboutPara p{
  font-size: 23px;
  font-family: 'Raleway';
  letter-spacing: 1px;
  text-align: justify;
  padding-right: 30px;
}
div.CVbutton a {
  background-color: green;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-family: 'Encode Sans SC';
}
div.CVbutton a:Hover{
  background-color: black;
}
.progressMetric{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30%;
}
progress{
  width: 70%;
}
/* div.skillRight ol li {
  margin-top: -5%;
} */
.barItems{
  display: flex;
  flex-direction: column;
}
.bar{
  margin-top: -4%;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: "green";
  border-radius: 4px;
}
.skillLeft{
  font-size: 20px;
}
.skillMatter{
  font-family: 'Raleway'
}
div.skillLeft ol li {
  padding: 10px;
}

#readbtn{
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  font-family:'Raleway';
  color:white;
  background-color: green;
  border: none;
}
#readbtn:Hover{
  background-color: black;
}
#hiddenlist {
  display: none;
}
.projectsSection{
  /* background-image: url('VectorGreen1.jpg');
  background-size:cover; */
  /* height: 125vh; */
}
div.individualImages a img{
  height: 250px;
  width: 300px;
}
.insideIndividual2{
  font-size: 24px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-top: -28px;
  background: linear-gradient(to bottom right, #33cc33 -15%, #ccff66 98%);
  font-family: 'Raleway';
  color: #0000cc;
  box-shadow: -2px 2px 3px black;
  font-weight: bolder;
}
.insideIndividual2 p {
  padding: 5px;
}
/* .projects{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 450px 450px 450px;
  margin-left: 19%;
  padding-top: 20px;
} */
.pro{
  margin-left: 45%;
}
.contactMe{
  display: grid;
  grid-template-columns: 50% 50%;
}
.info{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 20px;
  padding-top: 40px;
}
.infoicon{
  display:grid;;
  grid-template-rows: auto;
  justify-content: space-between;
  text-align: right;
  font-size: 40px;
  color: green;
  margin-left: 65%;
}
#ping{
  font-size: 40px;
  font-family: 'Pacifico';
  color: darkgreen;
}
#pingpara{
  font-size: 25px;
  font-family: 'Encode Sans SC';
}
.infolist{
  display: grid;
  grid-template-rows: auto;
  font-family: 'Shadows Into Light'
}
.infolistItem p:first-child{
  font-size: 40px;
  margin-bottom: -1%;
  margin-top: -1%;
  font-weight: bolder;
}
.infolistItem p:nth-child(2){
  font-size: 25px;
  margin-top: -1%;
}
.item1{
  margin-top: -3%;
}
.item2{
  margin-top: 2%;
}
.contactLeft{
  padding-left: 30px;
}
.contactRight{
  display: grid;
  grid-template-rows: auto;
  margin-left: 20%;
}
.formhead{
  padding-top: 40px;
  font-size: 30px;
  font-family: 'Pacifico';
  color: darkgreen;
}
.actualform{
  margin-top: -10%;
}
.actualform form input{
  width: 372px;
  height: 30px;
  border: 1px solid green;

}
textarea{
  border: 1px solid green;
}

.actualform form label{
  font-size: 20px;
  font-family: 'Raleway';
}
#btnlast{
  padding: 20px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  color: white;
  background: darkgreen;
}
hr{
  border: 2px solid red;
  border-radius: 5px;
  width: 150px;
}
.heading{
  display: grid;
  grid-template-rows: auto;
}
.belowtxt{
  display: grid;
  grid-template-columns: auto;
}
.line1{
  margin-left: -25%;
}
.line2{
  margin-left: 25%;
  margin-top: -3%;
}
.centertext{
  margin-top: -3%;
  text-align: center;
  font-size: 25px;
  font-family: 'Encode Sans SC';
}
.headtext{
  text-align: center;
  font-size: 50px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 1000;
  margin-bottom: -3%;
}
.buttons{
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 412px) {
  .frontDiv,.about,.skillsDiv,.projectsSection,.contactMatter{
    float: left;
  }
  .frontDiv{
    background-image: url('bg2.jpg');
    background-size: 80% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .projects{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 450px 450px 450px 450px;
    margin-left: 19%;
    padding-top: 20px;
  }
  .rightElement a{
    padding: 30px 0px 0 10px;
  }
  .rightElement{
    padding-left: 10px;
  }
  #logout{
    visibility: hidden;
  }
  .image1{
    visibility: hidden;
  }
  div.skillLeft{
    padding-left: 100px;
  }
  .skillRight{
    padding-left: 200px;
    width: 100%;
  }
  .projectsSection{
    background-image: url('VectorGreen1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180%;
    height: 180vh;
  }
  .individualImages{
    margin-left: -20%;
  }
  .contactRight{
    margin-left: 5%;
  }
  .aboutPara{
    margin-left: -35%;
  }
  .CVbutton{
    margin-left: 23%;
  }


}
@media only screen and (min-width: 412px) and (max-width: 1024px){
  .frontDiv{
    background-image: url('bg2.jpg');
    background-size: 1024px 100%;
  }
  .projects{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 450px 450px 450px 450px;
    margin-left: 19%;
    padding-top: 20px;

  }
  .rightElement a{
    padding: 30px 10px 0 20px;
  }
  .projectsSection{
    background-image: url('VectorGreen1.jpg');
    background-size:cover;
    height: 180vh;
  }


}
@media (min-width: 1025px){
  .frontDiv{
    background-image: url('bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
  .projects{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 450px 450px 450px;
    margin-left: 19%;
    padding-top: 20px;
  }
  .rightElement a{
    padding: 30px 10px 0 20px;
  }
  div.skillLeft{
    padding-left: 150px;
  }
  .projectsSection{
    background-image: url('VectorGreen1.jpg');
    background-size:cover;
    height: 125vh;
  }

}
